{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns:br="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <title>Veacon</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'js/bil/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'js/bil/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'js/bil/animate/animate.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>


  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
       <!-- <a href="#hero"><img src="{% static 'img/logo.png' %}" alt="" title="" /></img></a> -->
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="#hero">Veacon</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">O que é</a></li>
          <li><a href="#services">Como funciona</a></li>
<!--          <li><a href="#portfolio">Portfolio</a></li>-->
<!--          <li><a href="#team">Team</a></li>-->
<!--          <li class="menu-has-children"><a href="">Drop Down</a>-->
<!--            <ul>-->
<!--              <li><a href="#">Drop Down 1</a></li>-->
<!--              <li class="menu-has-children"><a href="#">Drop Down 2</a>-->
<!--                <ul>-->
<!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 3</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 4</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 5</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">Drop Down 3</a></li>-->
<!--              <li><a href="#">Drop Down 4</a></li>-->
<!--              <li><a href="#">Drop Down 5</a></li>-->
<!--            </ul>-->
<!--          </li>-->
          <li><a href="#contact">Contato</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->

      {% if messages %}

      {% for message in messages %}

      {% if message == DEFAULT_MESSSAGE_LEVELS.SUCCESS%}

      <div class="alert alert-info alert-dismissable">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
<!--        <b>Aviso:</b>-->
      </div>

      {% endif %}

      {% if message == DEFAULT_MESSAGE_LEVELS.ERROR %}

      <div class="alert alert-warning alert-dismissable">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
<!--        <b>Aviso:</b>-->
      </div>

      {% endif %}

      {% endfor %}

      {% endif %}

    </div>

  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Bem vindo ao Veacon</h1>
      <h2>O projeto que cuida do seu veículo enquanto você não está perto</h2>
      <a href="#about" class="btn-get-started">Veja como funciona</a>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">O que é o Veacon?</h2>
            <p>
              Veacon é um projeto que visa identificar <b>furto e roubo</b> de veículos em tempo real. Vem sendo desenvolvido no curso de Mestrado em Computação Aplicada (PPGCA)
              da Universidade de Passo Fundo e em 2020 inicia seus testes dentro do campus. Da uma olhada no que ele pode fazer por você:
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Monitora seu veículo</a></h4>
              <p class="description">Com um pequeno dispositivo o Veacon identifica a atividade do veículo depois que você estaciona</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Mexeu, alertou!</a></h4>
              <p class="description">Se o veículo começar a se mover enquanto você está longe um alerta será emitido</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Avisa quem precisa</a></h4>
              <p class="description">Com isso a equipe de segurança do campus será avisada e poderá agir antes mesmo de o veículo dobrar a esquina :)</p>
            </div>
          </div>
<!--          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>-->
          <img class="col-lg-6 order-lg-2 order-1 wow fadeInRight" src="{% static 'img/portfolio/beacons.png' %}">
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Facts Section
    ============================-->
    <!--<section id="facts">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Facts</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">232</span>
            <p>Clients</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">521</span>
            <p>Projects</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,463</span>
            <p>Hours Of Support</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Hard Workers</p>
  				</div>

  			</div>

      </div>
    </section> #facts -->


      <section id="call-to-action">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Gostou da proposta?</h3>
            <p class="cta-text">
              Solicite participação nos testes e seja um dos primeiros a usar esse serviço <b>DE GRAÇA</b>
              <br>
              <small>Por enquanto está disponível apenas no Campus UPF</small>
            </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#contact">Quero participar</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Como funciona</h3>
          <p class="section-description">Você irá testar uma solução em desenvolvimento que utiliza uma tecnologia inovadora e ainda pouco explorada no Brasil</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
              <h4 class="title"><a href="">Solicite cadastro</a></h4>
                <p class="description">O <b>Veacon</b> é uma solução em desenvolvimento e ainda limitada, por isso o número de usuários também é limitado</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-bar-chart"></i></a></div>
              <h4 class="title"><a href="">Entramos em contato</a></h4>
              <p class="description">Após a solicitação agendaremos um encontro supervisionado na <b>Universidade de Passo Fundo</b> </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-paper-plane"></i></a></div>
              <h4 class="title"><a href="">Receba o dispositivo</a></h4>
              <p class="description">Você irá receber o dispositivo que será usado para o sistema e você monitorarem seu veículo</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
              <h4 class="title"><a href="">E o que ele faz</a></h4>
              <p class="description">Ao deixar o veículo estacionado você inicia o monitoramento. Se o veículo se mover enquanto você estiver longe o sistema avisa os responsáveis</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-road"></i></a></div>
              <h4 class="title"><a href="">Quem monitora o veículo?</a></h4>
              <p class="description">Apenas o sistema. Ninguém de fora do projeto terá acesso às informações</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-shopping-bag"></i></a></div>
              <h4 class="title"><a href="">E Depois?</a></h4>
              <p class="description">Se o veículo estiver em perigo a equipe de segurança será avisada através do sistema e abordará o veículo para que ele não saia da UPF</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">E aí, agora gostou, né?</h3>
            <p class="cta-text"> Se gostou ou ficou curiuoso entra em contato com a gente e participe ;)</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#contact">Clique para dar um alô</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Portfolio Section
    ============================-->
    <!--<section id="portfolio">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Portfolio</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
        <div class="row">

          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter=".filter-app, .filter-card, .filter-logo, .filter-web" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-logo">Logo</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row" id="portfolio-wrapper">
          <div class="col-lg-3 col-md-6 portfolio-item filter-app">
            <a href="">
              <img src="img/portfolio/app1.jpg" alt="">
              <div class="details">
                <h4>App 1</h4>
                <span>Alored dono par</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-web">
            <a href="">
              <img src="img/portfolio/web2.jpg" alt="">
              <div class="details">
                <h4>Web 2</h4>
                <span>Alored dono par</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-app">
            <a href="">
              <img src="img/portfolio/app3.jpg" alt="">
              <div class="details">
                <h4>App 3</h4>
                <span>Alored dono par</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a href="">
              <img src="img/portfolio/card1.jpg" alt="">
              <div class="details">
                <h4>Card 1</h4>
                <span>Alored dono par</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a href="">
              <img src="img/portfolio/card2.jpg" alt="">
              <div class="details">
                <h4>Card 2</h4>
                <span>Alored dono par</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-web">
            <a href="">
              <img src="img/portfolio/web3.jpg" alt="">
              <div class="details">
                <h4>Web 3</h4>
                <span>Alored dono par</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a href="">
              <img src="img/portfolio/card3.jpg" alt="">
              <div class="details">
                <h4>Card 3</h4>
                <span>Alored dono par</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-app">
            <a href="">
              <img src="img/portfolio/app2.jpg" alt="">
              <div class="details">
                <h4>App 2</h4>
                <span>Alored dono par</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-logo">
            <a href="">
              <img src="img/portfolio/logo1.jpg" alt="">
              <div class="details">
                <h4>Logo 1</h4>
                <span>Alored dono par</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-logo">
            <a href="">
              <img src="img/portfolio/logo3.jpg" alt="">
              <div class="details">
                <h4>Logo 3</h4>
                <span>Alored dono par</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-web">
            <a href="">
              <img src="img/portfolio/web1.jpg" alt="">
              <div class="details">
                <h4>Web 1</h4>
                <span>Alored dono par</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-logo">
            <a href="">
              <img src="img/portfolio/logo2.jpg" alt="">
              <div class="details">
                <h4>Logo 2</h4>
                <span>Alored dono par</span>
              </div>
            </a>
          </div>

        </div>

      </div>
    </section>--><!-- #portfolio -->

    <!--==========================
      Team Section
    ============================-->
    <!--<section id="team">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Team</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-1.jpg" alt=""></div>
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-2.jpg" alt=""></div>
              <h4>Sarah Jhinson</h4>
              <span>Product Manager</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-3.jpg" alt=""></div>
              <h4>William Anderson</h4>
              <span>CTO</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-4.jpg" alt=""></div>
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>--><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Contato</h3>
          <p class="section-description">Nos envie uma mensagem para solicitar acesso ou para conversar e tomar um café :)</p>
        </div>
      </div>
      <!-- Uncomment below if you wan to use dynamic maps -->
<!--      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4180.247517181665!2d-52.38271191317015!3d-28.23297012706854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94e2c03f83f94db5%3A0xdfe6e084fda3029c!2sUniversidade%20de%20Passo%20Fundo!5e0!3m2!1spt-BR!2sbr!4v1576783410162!5m2!1spt-BR!2sbr" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>-->

      <div class="container wow fadeInUp mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>Passo Fundo, RS</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p>176239@upf.br</p>
              </div>

<!--              <div>-->
<!--                <i class="fa fa-phone"></i>-->
<!--                <p>+1 5589 55488 55s</p>-->
<!--              </div>-->
            </div>

            <div class="social-links">
<!--              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>-->
              <a href="https://www.facebook.com/feerposser" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/feerposser/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/feerposser/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/feerposser" target="_blank" class="github"><i class="fa fa-github"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="/" method="post" role="form" class="contactForm">
                  {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nome completo" required/>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" required/>
                </div>
                  <div class="form-group">
                  <input type="phone" class="form-control" name="phone" id="phone" placeholder="Fone"/>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" required/>
                    <small>Você pode solicitar contato para teste ou um café para conversar sobre o projeto :)</small>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" placeholder="Mensagem" required></textarea>
                </div>
                <div class="text-center"><button type="submit">Enviar mensagem</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Regna</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'js/bil/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bil/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'js/bil/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/bil/easing/easing.min.js' %}"></script>
  <script src="{% static 'js/bil/wow/wow.min.js' %}"></script>
  <script src="{% static 'js/bil/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'js/bil/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'js/bil/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'js/bil/superfish/superfish.min.js' %}"></script>

  <!-- Contact Form JavaScript File -->
<!--  <script src="{% static 'contactform/contactform.js' %}"></script>-->

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
